# Set the default behavior, in case poeple don't have core.autocrlf set.

*.ad text eol=lf
*.adoc text eol=lf
*.asciidoc text eol=lf

*.sh text eol=lf
*.md text eol=lf
*.conf text eol=lf

vimrc text eol=lf
.gitattributes text eol=lf
LICENSE text eol=lf
